@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
html, body, .container-table {
    height: 100%;
}
.vertical-center {
    min-height: 80%;

    display: flex;
    align-items: center;
}
.swap{
    right: 3%;
}
.form-control{
    max-width: 50%;
}
.rate{
    display:none;
}
#selected_currency{
    max-width: 100%;
}
.error{
    color:red
}
.commission_fee_disclaimer b{
    text-transform: uppercase;
}
.card-text.inline-block b{
    text-transform: uppercase;
}

@media screen and (max-width: 769px){
    .card-title{
        min-width: 100% !important;
    }
    .currency_changer{
        min-width: 100% !important;
    }
    .swap{
        min-width: 50% !important;
        position: relative !important;
        margin: 2% auto;
        right: 0;
    }
    .form-control{
        max-width: 100% ;
    }
}